@font-face {
  font-family: Pantom;
  src: url('./Pantom/Regular/Panton-Regular.ttf') format('ttf'),
    url('./Pantom/Regular/Panton-Regular.woff2') format('woff2'),
    url('./Pantom/Regular/Panton-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Pantom;
  src: url('./Pantom/Bold/Panton-Bold.ttf') format('ttf'),
    url('./Pantom/Bold/Panton-Bold.woff2') format('woff2'),
    url('./Pantom/Bold/Panton-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
